.menu{
    background-color: white;
    border-color: white;
    /*min-height: 200px;*/
}

.menu-buttons{
    padding-top: 0.8%;
    padding: 10px;
}

.menu-buttons > a{
    margin-right: 10px;
}

.center{
    text-align: center;
}

body{
    /*background-color: #f9f9f9;*/
    background-color: #EBEBEB;
    padding-top: 50px;
}
/*body {*/
    /*padding-top: 70px;*/
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
/*}*/
.box{
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
}

.submenu{
    background-color: gainsboro;
    margin:0px;

}

#spartan-logo{
    width:75px;
    height:50px;
}

.navbar{
    background-color: #005aa1;
}

ul.navbar a {
    color:white;
}

nav li a, #dropdown-menu{
    color: white;
    text-decoration: underline;
}

.box-description{
    color: gray;
}

#dropdown-right{
    margin-top: 1em;
    cursor: pointer;
}

#dropdown-right li{
    cursor: pointer;
}

.checkbox-content, .form-content{
    padding: 1em;
}

#showRequestsGraph{
    width: 100px;
}

.statsContainer{
    margin-bottom: 5%;
}

.submenu a  {
    width: 150px;
}

#benchmark-input-div {
    margin: 15px;
}

#navlist {
  float: right;
  padding: 17px 0 0 10px;
  }
#navlist li {
  float: left;
  margin: 0 0 0 5px;
  }
#navlist li a {
    padding: 5px 15px;
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navlist li a:hover,
   #navlist li a:focus {
     color: #fff;
     background: rgba(255, 255, 255, 0.15);
 }

 #add-configuration-form, #stopBenchmarking {
    margin-top: 15px;
 }

 #add-configuration-form {
    margin-bottom: 15px;
 }

 .graphContainer {
    margin-bottom: 3%;
 }

 .benchmarkingGraph {
    margin-bottom: 20px;
 }

.backend-server-input, #backendServerFormLabel, .configuration-tabs, #showRequestsGraph, #config-select, #remove-configs-table,
#successAddAlert, #successUpdateAlert{
    margin-top: 10px;
}

.backendServerButtons, #targetPathInput, #pathInput{
    margin-bottom: 10px;
}

#remove-input-button{
    margin-left: 10px;
}

#saveButton, #updateButton, #resetButton {
    width: 100px;
}