<div class="col-md-6 col-md-offset-3 text-center">
    <h1>Monitoring</h1>
</div>
<div class="container box col-md-8 col-md-offset-2 graphContainer">

    <div class="row">
        <div class="col-lg-6 col-md-offset-3 text-center ">

            <select ng-model="selectedConfig" ng-change="configurationSelected(c)" class="form-control" id="config-select" ng-options='(c.Host + "/" + c.Path) for c in configs'></select>
<!--             <button class="btn btn-success btn-md" id="showRequestsGraph" ng-show="graphOff" ng-click="startBenchmarking()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Start
            </button> -->

            <div class="spinner" ng-hide="graphOff">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

            <button class="btn btn-danger btn-md" id="stopBenchmarking" ng-hide="graphOff" ng-click="closeConnection(selectedConfig)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                Unsubscribe
            </button>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 text-center benchmarkingGraph" id="main-graph">
            <h2>Requests Per Second</h2>
            <div class="panel panel-default">
              <div class="panel-body">
                  <canvas id="line" class="chart chart-line" chart-data="reqPerSecData" chart-labels="reqPerSecLabels"
                          chart-legend="false" chart-series="series" chart-options= "reqPerSeqOptions" chart-click="onClick" chart-colours="[{
                          fillColor: 'rgba(63, 127, 191, 0)',
                          strokeColor: 'rgba(63, 127, 191,0.8)',
                          pointColor: 'rgba(63, 127, 191, 1)',
                          highlightFill: 'rgba(63, 127, 191,0.75)',
                          highlightStroke: 'rgba(63, 127, 191,1)'
              }];"></canvas>
                </div>
            </div>
        </div>


        <div class="col-md-6 text-center benchmarkingGraph" id="">
            <h2>Average Response Time</h2>
            <div class="panel panel-default">
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="respTimeData" chart-labels="respTimeLabels"
                        chart-legend="false" chart-series="series" chart-click="onClick" chart-options= "responseTimeOptions" chart-colours="[{
                          fillColor: 'rgba(150,150,150, 0)',
                          strokeColor: 'rgba(150,150,150,1)',
                          pointColor: 'rgba(150,150,150,1)',
                          pointStrokeColor: '#fff',
                          pointHighlightFill: '#fff',
                          pointHighlightStroke: 'rgba((150,150,150,0.8)'
                      }];"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center benchmarkingGraph" id="">
          <h2>Status Counts: 200</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <canvas id="line" class="chart chart-line" chart-data="statusData" chart-labels="statusLabels"
                      chart-legend="false" chart-series="series" chart-click="onClick" chart-options= "status200Options" chart-colours="[{
                        fillColor: 'rgba(26,179,148,0)',
                        strokeColor: 'rgba(26,179,148,0.8)',
                        pointColor: 'rgba(6,179,148,1)',
                        highlightFill: 'rgba(26,179,148,0.75)',
                        highlightStroke: 'rgba(26,179,148,1)'
            }];"></canvas>
            </div>
          </div>

      </div>

      <div class="col-md-6 text-center benchmarkingGraph" id="">
          <h2>Status Counts: 404</h2>
          <div class="panel panel-default">
                <div class="panel-body">
                  <canvas id="line" class="chart chart-line" chart-data="status404Data" chart-labels="status404Labels"
                          chart-legend="false" chart-series="series" chart-click="onClick" chart-options= "status404Options" chart-colours="[{
                              fillColor: 'rgba(224, 108, 112, 0)',
                              strokeColor: 'rgba(207,100,103,1)',
                              pointColor: 'rgba(207,100,103,1)',
                              highlightFill: 'rgba(26,179,148,0.75)',
                              highlightStroke: 'rgba(26,179,148,1)'
                }];"></canvas>
              </div>
          </div>
      </div>

  </div>
  </div>
