<div class="col-md-6 col-md-offset-3 text-center">
    <h1>Configurations</h1>
<!--     <p class="box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius pulvinar luctus.</p>
 --></div>
<div class="container box col-md-6 col-md-offset-3" >

    <div class="row">
        <div class="col-lg-12 text-center">
          <uib-tabset active="activeJustified" justified="true" class="configuration-tabs">
            <uib-tab index="0" heading="Add Configuration">
             <div class="col-lg-6 col-md-offset-3 text-center ">
                <form id="add-configuration-form">
            
                  <div class="form-group">
                      <label>Host name</label>
                      <input  class="form-control" name= "hostName" ng-model="config.hostName" id="" ng-init="config.hostName='localhost:9090'"disabled >
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Path</label>
                      <input  class="form-control" name= "path" ng-model="config.path" id="pathInput" placeholder="Path...">
                    </div>
                    <div class="col-md-6">
                       <label>Target Path</label>
                      <input  class="form-control" name= "targetPath" ng-model="config.targetPath" id="targetPathInput" placeholder="Target path...">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Requests Per Seconds</label>
                      <input  class="form-control" name= "reqPerSecond" ng-model="config.reqPerSecond" id="" placeholder="Request per seconds...">
                    </div>
                    <div class="col-md-6">
                       <label>Concurrency</label>
                      <input  class="form-control" name= "concurrency" ng-model="config.concurrency" id="" placeholder="Concurrency...">
                    </div>
                  </div>
                  <label id="backendServerFormLabel">Backend Servers</label>
                  <div class="form-group" id="backend-servers">
                      <addbackendserverinput></addbackendserverinput>
                      <input  class="form-control backendServerInput" name= "backendServer" ng-model="config.backendServer1" id="backendServerInput1" placeholder="Enter backend server name...">
                  </div>
                    <button class="btn btn-primary btn-md" id="" ng-click="addConfiguration(config)">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                        Save
                    </button>
                </form>
            </div>
            </uib-tab>
            <uib-tab index="1" heading="Update">Update Configuration</uib-tab>

            <uib-tab index="2" heading="Remove" ng-click="selectRemoveTab()">
            <table class="table table-striped" id="remove-configs-table">
                <tr>
                  <th class="center">Host</th>
                  <th class="center">Path</th>
                  <th class="center"></th>
                </tr>
                    <tr ng-repeat="c in configs track by $index">
                      <td >{{c.Host}}</td>
                      <td>{{c.Path}}</td>
                      <td>         
                       <button class="btn btn-danger btn-md" ng-click="removeConfiguration(c)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Remove
                      </button>
                    </td>
                  </tr>
              </table>
            </uib-tab>
          </uib-tabset>
        </div>
    </div>

</div>