<div class="col-md-6 col-md-offset-3 text-center">
    <h1>Configurations</h1>
</div>
<div class="container box col-md-6 col-md-offset-3" >

    <div class="row">
        <div class="col-lg-12 text-center">
          <uib-tabset active="activeJustified" justified="true" class="configuration-tabs">
            <uib-tab index="0" heading="Add/Update">
             <div class="col-lg-6 col-md-offset-3 text-center ">
                <div ng-include="'configurationForm.html'"></div>
            </div>
            </uib-tab>

            <uib-tab index="1" heading="Remove" ng-click="selectRemoveTab()">
            <table class="table table-striped" id="remove-configs-table">
                <tr>
                  <th class="center">Host</th>
                  <th class="center">Path</th>
                  <th class="center"></th>
                </tr>
                    <tr ng-repeat="c in configs track by $index">
                      <td >{{c.Host}}</td>
                      <td>{{c.Path}}</td>
                      <td>         
                       <button class="btn btn-danger btn-md" ng-click="removeConfiguration(c)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Remove
                      </button>
                    </td>
                  </tr>
              </table>
            </uib-tab>
          </uib-tabset>
        </div>
    </div>

</div>