<!DOCTYPE html>
<html lang="en" ng-app="bouncerApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="public/lib/angular-chart.js/angular-chart.min.css" rel="stylesheet">
    <link href="public/lib/angular-ui-switch/angular-ui-switch.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/css/main.css" rel="stylesheet">
    <link href="public/css/animations.css" rel="stylesheet">

    <style>

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container col-md-6 col-md-offset-3">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" class="pull-left"><img src="public/img/spartans.jpg" id="spartan-logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="dropdown pull-right" id="dropdown-right">
                <a class="dropdown-toggle" type="button" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    email@email.com
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="submenu">

        <!-- Single button -->
        <div class="container center menu-buttons">
            <!--<div>-->
            <row>
                <a href="#/benchmarking" type="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <span>&nbsp;Benchmark</span>

                </a>

                <!--</div>-->
                <a href="#/page1" type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                    <span>&nbsp;Item2</span>

                </a>
                <a href="#/page2" type="button" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <span>&nbsp;Item3</span>

                </a>
            </row>


            <row>

            </row>
        </div>
        <!-- /.row -->
    </div>

    <div ng-view class="reveal-animation"></div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="public/lib/angular-ui-switch/angular-ui-switch.min.js"></script>
    <!--<script src="../lib/angular-chart.js/angular-chart.min.js"></script>-->
    <script src="public/js/app.js"></script>
    <script src="public/js/controllers/requestsGraphController.js"></script>
    <script src="public/js/controllers/apiController.js"></script>


</body>

</html>
